#button {
  margin: 0 auto;
  display: block;
}

.container {
  width: 320px;
  margin: 0 auto;  
}

.unit {
  background-color: red;
  height: 20px;
  width: 20px;
  clear: top;
  display: inline-block;
}

.hover {
  background-color: blue;
}