body {
  background-color: #2b2b2b;
}

#button {
  margin: 0 auto;
  display: block;
}

.color-palette {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.colors {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: .5px;
}

.colors:hover {
    box-shadow: none;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.container {
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.unit {
  background-color: white;
  height: 20px;
  width: 20px;
  clear: top;
  display: inline-block;
}

.hover {
  background-color: blue;
}